body {
  font-family: sans-serif;
  background-color: #433765;
}

#gameScreen {
  border: 5px solid #725ea7;
  border-radius: 5px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  display: none;
}

heading h1 {
  color: white;
  font-family: "Lato", sans-serif;
  letter-spacing: 10px;
  font-size: 18px;
}
heading {
  white-space: normal;
  position: fixed;
  left: 50%;
  top: 80px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 700px) {
  heading h1 {
    font-size: 12px;
  }
  heading {
    top: 20px;
  }
}
